{
  "presets": ["babel-preset-env"],
  "plugins": [
    [
      "module-resolver",
      {
        "root": ["./src"],
        "alias": {
          "🔑": ".keys",
          "@": "./src"
        }
      }
    ],
    ["wildcard"],
    ["transform-regenerator"]
  ]
}
